$main-font: 'Inter', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$bg-color: #1b1d28;
$border-color: #2F3140;
$card-info: #2F313F;
$item-bg-color: #252631;
$white-color: #fff;
$table-timeCell-color: #7c7f99;
$product-bg-item: #222431;
$product-border-color: #252835;
$product__state-bg: #292B3C;
$card__bg-color: #262836;
$button__bg-color: #00714f;