$main-font:'Inter', sans-serif;
$secondary-font:'Roboto', sans-serif;
$bg-color: #1B1D28;
$border-color:#2F3140;
$item-bg-color:#252631;
$white-color: #fff;
$table-timeCell-color:#7C7F99;
$card-bg: #262836;