@import './variables';
@import './mixins';
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: $bg-color;
}

.wrapper {
  position: relative;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}

/* N A V B A R  - S T A R T*/
.navbar {
  &__row {
    @include d-flex(center, space-between, row, unset);
  }

  &__left {
    background: $item-bg-color;
    border: 1px solid $border-color;
    box-shadow: -8px 0 10px rgba(0, 0, 0, 0.1), inset -2px 2px 0 rgba(76, 81, 101, 0.2);
    border-radius: 10px;
    width: 300px;
    padding: 24px 0 15px 40px;

    &-text {
      margin-bottom: 5px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $white-color;
    }

    &-price {
      margin-bottom: 15px;
      font-family: $main-font;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 130%;
      color: $white-color;
    }

    &-day {
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 150%;
      background: -webkit-linear-gradient(270deg, #CAAB77 1.19%, #FEDFA6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__right {
    width: 350px;
    height: 190px;
    background: #252631;
    box-shadow: -8px 0 10px rgba(0, 0, 0, 0.1), inset -2px 2px 0 rgba(76, 81, 101, 0.2);
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
    @include d-flex(center, center, column, unset);

    &-text {
      margin-bottom: 5px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $white-color;
    }

    &-title {
      font-family: $main-font;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 130%;
      background: -webkit-linear-gradient(270deg, #CAAB77 1.19%, #FEDFA6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

/* N A V B A R  - E N D*/

/* T A B L E - S T A R T */

.table {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 80px;

  table {
    width: 100%;
    margin-top: 60px;

    thead {
      td {
        background: $border-color;
      }
    }

    tbody {
      td {
        background: $item-bg-color;
      }
    }

    .table__cell {
      padding: 15px 20px;

      &-text {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        text-transform: uppercase;
        color: $white-color;
      }
    }

    .table__dayCell {
      @include d-flex(center, unset, row, unset);

      &-day {
        margin: 0 10px;
      }

      &-time {
        color: $table-timeCell-color !important;
      }
    }
  }
}

/* T A B L E - E N D */


/* P R O D U C T S - S T A R T*/

.products {
  position: relative;
  height: auto;
}

/* P R O D U C T S - E N D*/

/* P R O D U C T - S T A R T*/

.product {
  background: linear-gradient(213.67deg, #222431 19.97%, #2B2D3E 79.98%);
  box-shadow: -8px 0 10px rgba(0, 0, 0, 0.1), inset -2px 2px 0 rgba(76, 81, 101, 0.2);
  border-radius: 10px;
  margin-bottom: 30px;

  &__row {
    @include d-flex(flex-start, unset, row, unset);
  }

  &__left {
    @include d-flex(center, unset, row, unset);
    width: 74%;
    padding: 25px 50px 25px 25px;
    border-right: 5px solid #1B1D28;
  }

  &__img {
    margin-right: 30px;
  }

  &__content {
    background: #222431;
    border: 1px solid #252835;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px #202330, -4px -4px 10px #303240;
    border-radius: 10px;
    padding: 25px 40px 25px 50px;

    h3 {
      font-family: $main-font;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 140%;
      color: $white-color;
      margin-bottom: 10px;
    }

    p {
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #7C7F99;
    }
  }


  &__right {
    margin-top: 20px;
    width: 25%;
    text-align: center;
  }

  &__price {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 135%;
    color: $white-color;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__count {
    @include d-flex(center, center, row, unset);
    margin-bottom: 30px;

    &-text {
      font-family: $secondary-font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 120%;
      color: #7C7F99;
    }
  }

  &__countable {
    margin-left: 20px;
    background: #2F3140;
    border-radius: 5px;
    padding: 10px;

    button {
      padding: 5px 7px;
      background: transparent;
      border: none;
      color: $white-color;
      cursor: pointer;
    }

    span {
      background: #292B3C;
      border: 1px solid #3A3C4E;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 7px 20px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: $white-color;
    }
  }

  &__btn {
    width: 60%;
    margin: 0 auto;
    background-blend-mode: multiply, normal, normal;
    box-shadow: 0 20px 21px -15px rgba(0, 124, 86, 0.72), 0 1px 0 #004930, inset 0 -2px 13px rgba(255, 255, 255, 0.26);
    border-radius: 5px;
    background: linear-gradient(0deg, #1fb587 4.29%, #ffffff 100%), #3db85a;
    padding: 22px 0;
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white-color;
    cursor: pointer;

    &:hover {
      background: #6ee480;
    }

    &:active {
      background: #02e424;
    }
  }
}

/* P R O D U C T - E N D*/


/* C A R D - S T A R T*/

.card {
  position: fixed;
  top: 0;
  right: -100%;
  width: 500px;
  height: 100vh;
  padding: 50px 40px 0 40px;
  background-color: $card-bg;
  @include d-flex(flex-start, unset, column, unset);
  transition: all 0.3s ease;

  &.active {
    right: 0;
  }

  &__logo {
    margin: 0 auto 30px auto;
  }

  &-items {
    height: auto;
    overflow-y: auto;
    margin-bottom: 30px;
  }

  &__delete {
    @include d-flex(center, center, column, unset);
    position: absolute;
    right: 8px;
    top: 8px;
    width: 29px;
    height: 29px;
    background: linear-gradient(0deg, #006546 4.29%, #00845E 100%), #BF0000;
    border-radius: 4.46154px;
    cursor: pointer;
  }

  &__item {
    position: relative;
    @include d-flex(center, unset, row, unset);
    background: #222431;
    border: 1px solid #252835;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px #202330, -4px -4px 10px #303240;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;

    &-img {
      width: 100px;
      height: 100px;
      margin-right: 10px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-bookname {
      font-family: $main-font;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 140%;
      background: -webkit-linear-gradient(270deg, #CAAB77 1.19%, #FEDFA6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-authorname {
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $white-color;
    }
  }

  &__info {
    width: 100%;
    padding: 35px 20px 20px 20px;
    background: #2F313F;
    border: 1px solid #2F3140;
    box-sizing: border-box;
    box-shadow: -8px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 40px;

    &-content {
      padding-bottom: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid #7C7F99;

      p {
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 191.4%;
        color: #7C7F99;
      }

      span {
        color: $white-color;
      }
    }

    &-allPrice {
      h1 {
        font-family: $main-font;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 140%;
        background: -webkit-linear-gradient(270deg, #CAAB77 1.19%, #FEDFA6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      span {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $white-color;
      }
    }
  }

  &__btn {
    width: 100%;



    button {
      width: 100%;
      margin: 0 auto;
      background-blend-mode: multiply, normal, normal;
      box-shadow: 0 20px 21px -15px rgba(0, 124, 86, 0.72), 0 1px 0 #004930, inset 0 -2px 13px rgba(255, 255, 255, 0.26);
      border-radius: 5px;
      border: none;
      background: linear-gradient(0deg, #1fb587 4.29%, #ffffff 100%), #3db85a;
      padding: 22px 0;
      font-family: $main-font;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $white-color;
      cursor: pointer;


    }
  }
}


.basket {
  @include d-flex(center, space-around, column, unset);
  position: fixed;
  top: 20%;
  right: 0;
  width: 63px;
  height: 158px;
  background: #262836;
  box-shadow: 0 5px 21px rgba(0, 0, 0, 0.08);
  border-radius: 16px 0 0 16px;
  cursor: pointer;
  padding-bottom: 20px;
  transition: all 0.3s ease;

  &.active {
    right: 500px;
  }

  &-text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $white-color;
    transform: rotate(90deg);
  }
}


/* C A R D - E N D*/